<div class="top-bar">
    <div class="tabs">
        <div class="tab">
         <a href="/">Home</a>
        </div>
        <% if(isAuthenticated){ console.log("we are checking for auth ",isAuthenticated) %>
        <div class="tab">
       <a href="/myblogs">My Blogs</a> 
        </div> <%}%>
    </div>
    <div class="logout">
    <% if(isAuthenticated){%> 
 
       <a  id="logoutButton" href="/logout">logout</a>
   
    <%} else{ %>
       
            <a  href="/login" id="logoutButton">Login</a>
       
   <% } %>
    </div>
</div>